# Program for Simple Linear Regression to Predict the Housing Prices

In [25]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [26]:
# Default Delimiter is Whitespace
column_names = ['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX', 'PTRATIO', 'B', 'LSTAT', 'MEDV']
df = pd.read_csv('housing.csv', delim_whitespace = True, names = column_names)
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2

In [27]:
# Deining the column arrays
CRIM = df['CRIM'].values
ZN = df['ZN'].values
INDUS = df['INDUS'].values
CHAS = df['CHAS'].values
NOX = df['NOX'].values
AGE = df['AGE'].values
DIS = df['DIS'].values
RAD = df['RAD'].values
TAX = df['TAX'].values
MEDV = df['MEDV'].values
PTRATIO = df['PTRATIO'].values
B = df['B'].values
LSTAT = df['LSTAT'].values
RM = df['RM'].values

In [33]:
#Calculating the number of Rows/Data Values
m = len(CRIM)

#Defining the coefficient variable
x0 = np.ones(m)
#Defining the Dataset array X
X = np.array([x0, CRIM, ZN, INDUS, CHAS, NOX, RM, AGE, DIS, RAD, TAX, PTRATIO, B, LSTAT]).T
X.reshape((506, 14))

#Normalization of Data
X = (X - np.mean(X))/(np.var(X))
X

array([[-0.00322611, -0.00327609, -0.00237104, ..., -0.00250685,
         0.0166868 , -0.00302592],
       [-0.00322611, -0.00327503, -0.00327641, ..., -0.0023811 ,
         0.0166868 , -0.00281668],
       [-0.00322611, -0.00327503, -0.00327641, ..., -0.0023811 ,
         0.01648209, -0.00307371],
       ...,
       [-0.00322611, -0.00327335, -0.00327641, ..., -0.00222015,
         0.0166868 , -0.00299273],
       [-0.00322611, -0.00327089, -0.00327641, ..., -0.00222015,
         0.01651327, -0.00295048],
       [-0.00322611, -0.00327402, -0.00327641, ..., -0.00222015,
         0.0166868 , -0.00288006]])

In [34]:
#Defining train and test sets
x_test = X[405:506]
x_train = X[0:405]

#Definint the results or the cost vector
Y = np.array(MEDV)

#Defining the train and test vectors
y_test = Y[405:506]
y_train = Y[0:405]

#Initial Coefficients (beta or theta)
B = np.zeros((1,14))

#Learning Rate
alpha = 0.01

array([[0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.]])